<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.9/vue.global.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/4.0.2/vuex.global.min.js"></script>
<script type="module">
    const {createApp, ref, onMounted, computed, watch} = Vue;
    const {createStore} = Vuex;

    const STATE_KEY = "vuex-state-v1";
    const prevState = JSON.parse(localStorage.getItem(STATE_KEY) || "{}");

    const store = createStore({
        state() {
            return {
                method: 0,
                showBanner: false,
                ...prevState
            };
        },
        mutations: {setAny(state,{s,v}){state[s]=v;}}
    });

    window.addEventListener("beforeunload", () => localStorage.setItem(STATE_KEY, JSON.stringify(store.state)), {passive: true});

    const app = createApp({
        template: "#app-tpl",
        setup() {
            const sections = ["one","two","three","four","five","six","seven","eight","nine","ten"]
                .map(n => ({id: `section-${n}`, title: `Section ${n}`}));

            const methods = [
                {id: 1, title: "nothing"},
                {id: 2, title: "fixed header"},
                {id: 3, title: "sticky header"},
                {id: 4, title: "flex column body"},
                {id: 5, title: "fixed body elements"},
            ];

            const methodClass = computed(() => "m" + methods[store.state.method].id);

            return {
                sections,
                methods,
                methodClass,
                ...[ // auto-convert some state props into mutable computeds.
                    "method",
                    "showBanner"
                ].reduce((c,s)=>({...c,[s]:computed({get:()=>store.state[s],set:v=>store.commit("setAny",{s,v})})}),{}),
            };
        }
    });

    app.use(store);

    app.mount("#app");
</script>

<template id="app-tpl">
    <div class="website" :class="methodClass">
        <div class="header" :class="methodClass">
            <div class="header__banner" :hidden="!showBanner">
                Hi, I am a banner. Click me!
            </div>
            <h1>Scrolling techniques</h1>
            <div class="header__tools">
                <div>
                    Method:
                    <label v-for="(m, i) in methods">
                        <input type="radio" :value="i" v-model="method"> {{m.title}}
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" v-model="showBanner"> Show banner (for extra size of header)
                    </label>
                </div>
            </div>
        </div>
        <section class="body" :class="methodClass">
            <article>
                <nav class="left-nav">
                    <figure>
                        <figcaption>Sections</figcaption>
                        <ul>
                            <li v-for="s in sections">
                                <a :href="`#${s.id}`">{{s.title}}</a>.
                            </li>
                        </ul>
                    </figure>
                </nav>
                <h2>The problem</h2>
                <p>In a normal web page, you can navigate to a section of the page by clicking on a hash link, which is one that
                    contains a <code>#</code> symbol on it. (todo: write more)
                <p>This is a showcase of different techniques that are available in html to make a Scrolling
                    document retain the header fixed to the top as the content scrolls.
                <p><strong>The first thing to try is: nothing</strong>, the header simply scrolls away with the rest of the document.
                <p>This method is what browsers understand best, and it is how html was initially designed to work: simply
                    display documents focused on the reading of the content, not in the bells and whistles of modern web.
                <p>The disadvantage of this method is that it takes little advantage of what browsers can do to improve
                    the presentation of the content.
                <p><strong>The second mode is: simply add to the header a position fixed</strong> and give the document some top padding.
                <p>This method kind of solves the problem, but the adding of the padding is kind of ugly, and you will see that
                    this method breaks one basic feature about html documents: hash navigation.
                <p>One major issue is that the person writting the document has to know the exact size of the header element at
                    all times (in dynamic websites the header might have different sizes on different situations) and hard-code
                    it into the stylesheet (or use some javascript to hack it in).
                <p><strong>Sticky positioning</strong> is also very good at achieving the same effect in a more elegant manner than the
                    fixed position solution. However, it shares the same problem when navigating using hash links.
                <p><strong>Flex column</strong> is one approach that solves the problem in a more "correct" way, as only the actual
                    scrollable part of the document gets a scrollbar.
                <p>The problem is, if not carried out correctly, you can
                    get anoying scrollbars in situations where one might not want a scrollbar. The actual scrollbar is an "inner
                    scrollbar" instead of the document primary scrollbar.
                <p>This also has the potential to cause strange behaviour
                    in devices that rely on touch-scrolling, as devices might not be optimized for inner-scrolling.
                <p><strong>Fixed positioning of direct children</strong> of the body element can also achieve a similar outcome as the
                    flex solution in case display flex is not available in the browser (e.g. old browsers)
            </article>

            <div v-for="s in sections">
                <h2 :id="s.id">
                    <a :href="`#${s.id}`">#</a> {{s.title}}
                </h2>
                <p>A pumpkin seed, also known in North America as a pepita (from the Mexican Spanish: pepita de calabaza, "little seed
                    of squash"), is the edible seed of a pumpkin or certain other cultivars of squash. The seeds are typically flat and
                    asymmetrically oval, have a white outer husk, and are light green in color after the husk is removed. Some cultivars
                    are huskless, and are grown only for their edible seed.[1] The seeds are nutrient- and calorie-rich, with especially
                    high content of fat (particularly linoleic acid and oleic acid), protein, dietary fiber, and numerous micronutrients.
                    Pumpkin seed can refer either to the hulled kernel or unhulled whole seed, and most commonly refers to the roasted end
                    product used as a snack.
                <p>Harry James Potter (b. 31 July 1980) was an English half-blood wizard, and one of the most famous wizards
                    of modern times. The only child and son of James and Lily Potter (née Evans), Harry's birth was overshadowed
                    by a prophecy, naming either himself or Neville Longbottom as the one with the power to vanquish Lord Voldemort.
                    After half of the prophecy was reported to Voldemort, courtesy of Severus Snape, Harry was chosen as the
                    target due to his many similarities with the Dark Lord. In turn, this caused the Potter family to go into
                    hiding. Voldemort made his first vain attempt to circumvent the prophecy when Harry was a year and three
                    months old. During this attempt, he murdered Harry's parents as they tried to protect him, but this unsuccessful
                    attempt to kill Harry led to Voldemort's first downfall. This downfall marked the end of the First Wizarding
                    War, and to Harry henceforth being known as "The Boy Who Lived", as he was the only known survivor of
                    the Killing Curse.
            </div>
        </section>
    </div>
</template>

<style>
    /* global styles */
    body {
        margin: 0;
    }
    .website {
    }
    .header {
        background-color: lightgrey;
        padding: 10px;
    }
    .header__banner {
        background-color: purple;
        color: white;
        padding: 20px;
    }
    .header__tools {
        display: flex;
        justify-content: space-between;
    }
    .body {
        padding: 8px;
    }
    .left-nav {
        float: left;
        margin: 8px;
        padding: 8px;
        border: 1px solid gray;
    }

    /* method 1: nothing */
    .website.m1 {
    }
    .header.m1 {
    }
    .body.m1 {
    }

    /* method 2: fixed header */
    .website.m2 {
        padding-top: 120px;
    }
    .header.m2 {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    .body.m2 {
    }

    /* method 3: sticky header */
    .website.m3 {
    }
    .header.m3 {
        position: sticky;
        top: 0;
    }
    .body.m3 {
    }

    /* method 4: flex column body */
    .website.m4 {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .header.m4 {
        flex: 0 0;
    }
    .body.m4 {
        overflow-y: auto;
    }

    /* method 5: fixed body elements */
    .website.m5 {
    }
    .header.m5 {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    .body.m5 {
        position: fixed;
        top: 120px;
        bottom: 0;
        right: 0;
        left: 0;
        overflow-y: auto;
    }
</style>

</head>
<body><div id="app"></div></body>
</html>
